<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>grade</key>
    <dict>
        <key>0</key>
        <string>高一</string>
        <key>1</key>
        <string>高二</string>
        <key>2</key>
        <string>高三</string>
        <key>3</key>
        <string>大一</string>
        <key>4</key>
        <string>大二</string>
        <key>5</key>
        <string>大三</string>
        <key>6</key>
        <string>大四</string>
        <key>7</key>
        <string>毕业生</string>
	</dict>
	<key>department</key>
	<dict>
		<key>1</key>
		<string>其他</string>
		<key>2</key>
		<string>信息与软件工程学院</string>
		<key>3</key>
		<string>数学科学学院</string>
		<key>4</key>
		<string>经济与管理学院</string>
		<key>5</key>
		<string>自动化工程学院</string>
		<key>6</key>
		<string>机械电子工程学院</string>
		<key>7</key>
		<string>光电信息学院</string>
		<key>8</key>
		<string>计算机科学与工程学院</string>
		<key>9</key>
		<string>生命科学与技术学院</string>
		<key>10</key>
		<string>外国语学院</string>
		<key>11</key>
		<string>能源科学与工程学院</string>
		<key>12</key>
		<string>马克思主义教育学院</string>
		<key>13</key>
		<string>政治与公共管理学院</string>
		<key>14</key>
		<string>微电子与固体电子学院</string>
		<key>15</key>
		<string>电子工程学院</string>
		<key>16</key>
		<string>物理电子学院</string>
		<key>17</key>
		<string>通信与信息工程学院</string>
		<key>18</key>
		<string>英才实验学院</string>
		<key>19</key>
		<string>格拉斯哥学院</string>
		<key>20</key>
		<string>资源与环境学院</string>
		<key>21</key>
		<string>医学院</string>
		<key>22</key>
		<string>基础与前沿研究院</string>
		<key>23</key>
		<string>能源科学与工程学院</string>
	</dict>
	<key>size</key>
	<dict>
		<key>0</key>
		<string>XS</string>
		<key>1</key>
		<string>S</string>
		<key>2</key>
		<string>M</string>
		<key>3</key>
		<string>L</string>
		<key>4</key>
		<string>XL</string>
		<key>5</key>
		<string>XXL</string>
	</dict>
	<key>sex</key>
	<dict>
		<key>0</key>
		<string>男</string>
		<key>1</key>
		<string>女</string>
	</dict>
</dict>
</plist>
